.chat-bot {
  flex: 1;

  :global(.message-list-scroller) {
    height: calc(100vh - 87px - 16px - 100px);
  }
  :global(.side-content-outer) {
    height: calc(100vh - 87px - 16px);
  }
}

@media screen and (max-width: 600px) {
  .chat-bot {
    width: 100vw;
  }

  :global(.container-body) {
    min-width: unset !important;
  }
}
