.form {
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.form-inner {
  border: solid 1px #e6e8f0;
  border-radius: 12px;
  padding: 16px;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 24px;
  border-bottom: solid 1px #e6e8f0;
}

.description {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: bolder;
}
