.assistant-header {
  background: #f8f9fb;
  padding: 20px;
  border-radius: 12px;
}

.assistant-header-outer {
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.tag {
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  background: #1180ff26;
  text-align: center;
  color: #1180ff;
  display: inline-block;
  padding: 0 8px;
}

.divider {
  height: 100%;
}

.title {
  font-weight: bold;
}
